*.http text eol=crlf

/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.github/          export-ignore
/.gitignore        export-ignore
/documentation/    export-ignore
/phpcs.xml.dist    export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist  export-ignore
/rector.php        export-ignore
/tests             export-ignore
/tests/            export-ignore
/vendor-bin/       export-ignore

/vendor-bin/**/composer.lock binary
